body {

}

.page {
  // .page-header {
  //   height: 5vh;
  //   width: 100vw;
  // }

  .page-body {
    display: flex;
    justify-content: flex-start;

    .page-aside {
      width: 20vw;
    }

    .page-content {
      width: 80vw;
      height: 100vh;
      display: flex;

      .vis-legend {
        width: 3%;
        font-size: 12px;
      }

      .vis-graphic {
        width: 97%;
        height: 100%;

        path {
          stroke: rgba(255, 255, 255, 0.4);
          stroke-width: 0.5;
        }

        text {
          font-family: $font-family-default;
          fill: #fff;
        }

        &.highlight {
          g {
            opacity: 0.1;

            &.active {
              opacity: 1;
            }
          }
        }
      }

      .error {
        text-align: center;

        div {
          span {
            font-size: 10em;
            line-height: 1;
            display: block;
          }

          strong {
            font-size: 5em;
            display: block;
          }
        }
      }
    }
  }
}
