body, #__nuxt, #__layout, .page, .page-body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

.page-body {
  display: flex;
  justify-content: flex-start;

  .page-aside {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .tab {
      margin: 0.5em 1em;
      padding: 0.5em 0;
      align-self: stretch;
    }

    .footer {
      margin-top: auto;
      align-self: flex-end;
    }
  }

  .page-content {
    width: 70vw;
    height: 100vh;
    display: flex;

    .wrapper {
      width: 100%;
      height: 100%;
    }

    .vis-legend {
      height: 100%;
      width: 3%;
      font-size: 12px;
      font-weight: bold;

      text:first-child {
        font-weight: normal;
      }
    }

    .vis-graphic {
      width: 97%;
      height: 100%;

      path {
        stroke: rgba(255, 255, 255, 0.4);
        stroke-width: 0.5;
      }

      .categories {
        stroke: #fff;
      }

      text {
        font-family: $font-family-default;
        fill: #fff;

        &.category {
          font-size: 12px;
        }
      }

      &.highlight {
        g {
          path {
            opacity: 0.25;
          }

          &.active {
            path {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.imprint {
  margin: 0.5em 1em;
}