body, #__nuxt, #__layout, .page, .page-body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.page-body {
  display: flex;
  justify-content: flex-start;

  .page-aside {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    @include media-query($on-tablet-landscape) {
      & {
        width: 40vw;
      }
    }

    @include media-query($on-laptop) {
      & {
        width: 35vw;
      }
    }

    @include media-query($on-desktop) {
      & {
        width: 30vw;
      }
    }

    .tab {
      margin: 0.2em 1em;
      padding: 0.2em 0;
      align-self: stretch;

      @include media-query($on-tablet-landscape) {
        & {
          margin: 0.3em 1em;
          padding: 0.3em 0;
        }
      }

      @include media-query($on-laptop) {
        & {
          margin: 0.4em 1em;
          padding: 0.4em 0;
        }
      }

      @include media-query($on-desktop) {
        & {
          margin: 0.5em 1em;
          padding: 0.5em 0;
        }
      }
    }

    .footer {
      margin-top: auto;
    }
  }

  .page-content {
    width: 60vw;
    height: 100vh;
    display: flex;

    @include media-query($on-tablet-landscape) {
      & {
        width: 60vw;
      }
    }

    @include media-query($on-laptop) {
      & {
        width: 65vw;
      }
    }

    @include media-query($on-desktop) {
      & {
        width: 70vw;
      }
    }

    .wrapper {
      width: 100%;
      height: 100%;
    }

    .tooltip {
      position: absolute;
      background-color: #fff;
      border: 1px solid #000;
      pointer-events: none;
      padding: 6px 10px;
      margin: 0;
      margin-left: 3%;
      min-width: 170px;

      table {
        margin-top: 5px;
        border-collapse: collapse;
        line-height: 1.8;

        tr, td {
          padding: 0;
          margin: 0;
          vertical-align: bottom;
        }

        tr {
          td {
            border-bottom: 1px solid #eee;
          }

          &:last-child {
            td {
              border: none;
            }
          }
        }

        td:last-child {
          text-align: right;
          padding-left: 10px;
        }
      }
    }

    .vis-legend {
      height: 100%;
      width: 3%;
      font-size: 9px;
      font-weight: bold;

      text:first-child {
        font-weight: normal;
      }

      @include media-query($on-tablet-landscape) {
        & {
          font-size: 10px;
        }
      }

      @include media-query($on-laptop) {
        & {
          font-size: 11px;
        }
      }

      @include media-query($on-desktop) {
        & {
          font-size: 12px;
        }
      }
    }

    .vis-graphic {
      width: 97%;
      height: 100%;

      path {
        stroke: #fff;
        stroke-width: 0.2;
        backface-visibility: hidden;
      }

      .categoryPlacements {
        pointer-events: none;
      }

      .categories {
        stroke: #fff;
      }

      text {
        fill: #fff;

        &.category {
          font-size: 9px;
          font-weight: bold;

          @include media-query($on-tablet-landscape) {
            & {
              font-size: 10px;
            }
          }

          @include media-query($on-laptop) {
            & {
              font-size: 11px;
            }
          }

          @include media-query($on-desktop) {
            & {
              font-size: 12px;
            }
          }
        }
      }

      &.negative {
        text {
          fill: #000 !important;
        }
        .categories {
          stroke: #000;
        }
      }

      g.country {
        path {
          will-change: transform;
        }
      }

      g.country:hover, g.country.active {
        path {
          fill: #fff !important;
        }

        text {
          fill: #000;
        }
      }

      &.highlight {
        g {
          path {
            opacity: 0.25;
          }

          &.highlight {
            path {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.imprint {
  margin: 0.5em 1em;
}