.page-content > *:first-child {
  margin-top: 0 !important;
}

h1 {
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.1;
  margin: 1rem 0 2rem 0;
  text-align: center;

  small {
    display: block;
    font-weight: 400;
    font-size: 0.5em;
    text-align: center;
  }
}

p {
  padding: 0 0 0.5em;
  font-size: 0.85rem;
  hyphens: auto;
}

h3 {
  font-weight: normal;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  font-weight: normal;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.2;
  margin: 1rem 0;
}

.tab {
  margin: 0.5em 1em;
  padding: 0.5em 0;
}

.selection {
  list-style: none;

  li {
    margin: 0.9em 0;
    padding-left: 0.5em;
    font-size: 0.85rem;
    color: #666;
    cursor: pointer;
    line-height: 1;
    border-left: 3px solid #fff;

    &.active, &:hover {
      color: #EC3A4D;
    }

    &.active {
      cursor: default;
      font-weight: 500;
      border-color: #EC3A4D;
    }
  }
}

.btn {
  font-size: 0.8em;
  padding: 0.5em 2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  cursor: pointer;
  color: #222;
  border: 3px solid #EC3A4D;

  &:hover {
    background-color: #EC3A4D;
    color: #fff;
  }
}

.menu {
  margin: 0.5em 1em;
  padding: 0.5em 0;
  list-style: none;
  display: flex;
  width: calc(100% - 2em);
  justify-content: space-between;

  li {
    font-weight: bold;
    color: #999999;
    flex: 1;
    border-bottom: 2px solid #fff;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #EC3A4D;
    }

    &.active span {
      padding: 0 5% 0.25em;
      color: #222;
      border-bottom: 2px solid #EC3A4D;
      cursor: default;
    }
  }
}