.page-content > *:first-child {
  margin-top: 0 !important;
}

h1 {
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.1;
  margin: 1rem 0 2rem 0;
  text-align: center;

  small {
    display: block;
    font-weight: 400;
    font-size: 0.5em;
    text-align: center;
  }
}

p {
  padding: 0 0 0.5em;
  font-size: 0.8rem;
  hyphens: auto;
}

h3 {
  font-weight: normal;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
  margin: 1rem 0;
}

h4 {
  font-weight: normal;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.2;
  margin: 1rem 0;
}

.tab {
  margin: 0.5em 1em;
  padding: 0.5em 0;
}

.selection {
  list-style: none;

  li {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0.1em 0;
    padding-left: 0.5em;
    border-radius: 2px;
    font-size: 0.8em;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.menu {
  margin: 0.5em 1em;
  padding: 0.5em 0;
  list-style: none;
  display: flex;
  width: calc(100% - 2em);
  justify-content: space-between;

  li {
    font-weight: bold;
    color: #D1D7E8;
    flex: 1;
    border-bottom: 1px solid #D1D7E8;
    text-align: center;

    &.active {
      color: #8499DA;
      border-bottom: 1px solid #fff;
    }
  }
}